/* clamp 중간 계산 : (모바일+데스크탑)/2=값px 그 다음 값px/1280(화면 본문 넓이 기준점)*100=최종vw */

.intro_bg {
  width: 100%;
  height: clamp(470px, 63.2vw, 1150px);
  background-color: var(--color-main);
  position: relative;
  position: absolute;
  z-index: -1;
}

.header {
  width: 100%;
}

.header-topcont {
  padding: 43.5px clamp(16px, 6.25vw, 120px) 0;
  display: flex;
  justify-content: space-between;
  align-items: center; 

}

.header__menubar {
  display: flex;
  align-items: center;     /* 수직 정렬 */
  justify-content: center; /* 수평 정렬 */
  gap: 9px;
}

.header__logocol > img{
  width: clamp(54px, 4.9vw, 72px);
  height: auto;
}

.header__menu_txt {
  font-size: 22.5px;
  font-weight: 100;
  line-height:22.5px;
  color: var(--color-light-bg);
  text-align: center;
}


.header__menu-btn__wrap {
position: relative;
}

/* 열기 닫기 */
.header__menu-btn__wrap,
.header__menu-btn__1 ,
.header__menu-btn__2
{
  all: unset;
  display: flex;
  text-align: center;
  justify-content: center;
}

.header__menu-btn__1,
.header__menu-btn__2 {
  width: clamp(24px, 2.8vw, 48px);
  height: auto;
  aspect-ratio: 1 / 1; /* 정사각형 */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  aspect-ratio: 1 / 1;
}

/* 햄버거 메뉴 */
.header__menu-btn__1 {
  position: fixed;
  top: 58px;
  background: url(../images/Open_col-icon.svg) var(--color-main);
  background-repeat: no-repeat;
  background-size: contain;
  transition: filter 0.3s ease;
  z-index: 999;
}

/* 메뉴 호버 */
.header__menu-btn__1:hover {
  background-color: transparent;
  filter: invert(0) sepia(0) saturate(5432%) hue-rotate(331deg) brightness(101%) contrast(101%);
}

.header__menu-btn__2 {
  background-image: url(../images/Close_icon.svg);
}

.header__menu-btn__2:hover {
  width: clamp(24px, 2.8vw, 48px);
  height: auto;
  border-radius: 50%;
  background-color: var(--color-dark-txt);
  
  -webkit-animation: rotate-hor-center 0.2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: rotate-hor-center 0.2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  pointer-events: auto;

  filter: brightness(100) invert(1);

}

/* 인트로 내용 */
.intro-text-wrapper {
  padding: clamp(43px, 4vw, 71px) clamp(15px, 12.8vw, 245px) 0;
}

.intro-text-wrapper .word {
  /* font-size: 147px; */
  font-size: clamp(44px, 7.4vw, 147px);
  font-weight: 300;
  color: var(--color-light-bg);
  word-break: keep-all;
}

.intro-line:nth-child(2) {
  display: flex;
  align-items: center;  /* 수직 정렬 */
  /* gap: 20px; */
  gap: clamp(5.9px, 1vw, 20px);
}

/* 놀듯이진심인디자이너 도형안에 애니메이션 */
.highlight-box {
  width: clamp(58.43px, 10vw, 194px);
  min-height: clamp(43.45px, 7.5vw, 145px);
  border-radius: clamp(21.65px, 4vw, 72px);
  background-color: var(--color-sub);
  background-image: url(../images/me__APNG.png);
  background-repeat: no-repeat;
  background-size: 86%;
  /* background-position: center clamp(18px, 2.4vw, 35px); */
  background-position: center -8px;
}


/* 인트로 이미지 박스 */
.intro-imgbox {
  text-align: center;
  width: 100%;
  height: clamp(178px, 37.6vw, 730px);
  margin-top: clamp(60px, 6vw, 130px);
  /* border-radius: clamp(19px, 5vw, 73px); */
  /* background-color: var(--color-sub); */
  background-image: url(../images/intro_img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.subtitle-wrapper {
  text-align: center;
  font-size: var(--font-career-date);
  font-weight: 300;
  padding-block: clamp(100px, 12vw, 210px);
}


/* 네비게이션 목록 */
.header__nav {
  position: fixed;
  top: 0;
  right: 0;
  width: clamp(375px, 51.1vw, 935px);
  height: 100%;
  background-color: #fff;
  z-index: 9999;

  /* 초기에는 숨김 처리 */
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  pointer-events: none; /* 클릭 막기 */
}

.header__nav.open {
  transform: translateX(0%);
  pointer-events: auto;
}


.header__nav__bgbk.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* 반투명 검정 */
  z-index: 9999;
}


/* 네비게이션 내부 디자인 */

.header__nav__wrap h2 {
  display: none;
}

.header__nav .header__nav__wrap {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 43px 132px 0 0;
  width: 100%;
}

.header__nav  .header__nav-menu_col, .header__nav__contact {
  text-align: start;
  padding: 45px clamp(45px, 10vw, 183px) 0 clamp(20px, 13vw, 284px);
  font-weight: 300;
  text-transform: capitalize;
}

.header__nav-menu_txt {
  color: var(--color-light-gy);
  font-size: clamp(14px, 1.8vw, 20px);
}

.header__nav-menu_col .header__nav-ul {
  flex-direction: column;
  font-size: clamp(24px, 3vw, 60px);
  gap: 4px;
}

.header__nav-menu_col .header__nav-ul, .header__nav__contact {
  display: flex;
  padding-top: clamp(28px, 3vw, 50px);
}

.header__nav-menu_col .header__nav-ul .header__nav-item:hover {
  -webkit-animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  pointer-events: auto;
}

.header__nav__contact {
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 50px;
  font-size: var(--font-career-work);
}


.header__nav__email .gint {
  font-size: clamp(14px, 1.3vw, 20px);
  color: var(--color-light-gy);
  margin-bottom: 30px;
}

.header__nav__email .in5826 {
  text-transform: lowercase;
}

.header__nav__line__2 {
  border-bottom: var(--color-light-gy) 1px solid;
}

.header__view {
  cursor: pointer;
}

/* view 모달 */
.modal {
  display: none; /* 처음엔 숨김 */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  z-index: 9999;
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  width: 50%;
  border-radius: 8px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 24px;
  cursor: pointer;
}











/**
 * ----------------------------------------
 * animation rotate-hor-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
            opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
            opacity: 1;
  }
}
@keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
            opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
            opacity: 1;
  }
}


/* 모바일 */
@media (max-width: 768px) {
.header__menu_txt {
  display: none;
}
.intro-text-wrapper {
  /* padding-inline은 양쪽(padding-left + padding-right)을 한 번에 쓰는 최신 CSS 속성 */
  /* padding-block  위 + 아래 (top + bottom)*/
  padding-inline: 25px;
}
.header__nav {
  width: 100%;
}
.header-topcont  {
  padding-top: 19px;
}
.header__nav__wrap h2 {
  display: block;
}
.header__menu-btn__1  {
  top: 30px;
  right: 25px;
}
.header__menu-btn__2 {
  width: 47px;
}
.header__menu-btn__2:hover {
  width: 47px;
  height: 47px;
  height: auto;
}
.header__nav .header__nav__wrap {
  justify-content: space-between;
  padding: 19px 15px 0 15px;
}
.header__nav__contact {
  padding-right: 70px;
}
.header__nav-menu_col .header__nav-ul {
  font-size: 42px;
  gap: 0px;
}
.header__logobk img{
  width: 54px;
  height: auto;
}
.highlight-box {
  background-position: center -1px;
}


/* 인트로 이미지 박스 */
}

/* 타블렛 */
@media (max-width: 1280px) {
  .header__menu_txt {
    display: none;
  }
}