main {
  overflow: hidden;
}

section{
  width: 100%;
  display: inline-block;
  padding: clamp(65px, 10vw, 210px) clamp(15px, 4.4vw, 100px);
}

.section__title {
  font-weight: 300;
  font-size: var(--font-title-large);
}

.section__title em {
  transform-origin: 0 0;
  letter-spacing: -0.05em;
  font-style: italic;
}

.Section_item {
  display: flex;
  text-align: center;
  margin-top: clamp(50px, 8.9vw, 180px);
  gap: 34px;
}


/* screen-work 시작 */
#screen-work {
  padding-top: 0;
}

.screen-work__Col {
  width: clamp(345px, 35vw, 551px);
  justify-content: space-between;
}

.screen-work__imgboxs {
  position: relative;
}


/* 모달 내용 */
.modal_hover {
  width: 100%;
  height: 100%;
  border-radius: 51.7px 51.7px 0 0;
  position: absolute;
  background: #000000cd;
  color: #fff;
  font-weight: 700;
  display: none;

  -webkit-animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.AD_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(46px, 4.6vw, 74px) 0 clamp(41px, 4.1vw, 66px) 0;
  gap: 2%;
}

.AD_icons img {
  width: clamp(24px, 2.3vw, 37px);
  height: clamp(24px, 2.3vw, 37px);
}

.screen-work__ButCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 56%;
  gap: 15px;
  justify-content: space-between;
}

.screen-work__But {
  width: clamp(240px, 21vw, 300px);
  height: 100%;
  background-color: var(--color-main);
  border-radius: 50px;
}

.Wireframe,
.figmaDesign {
  background: #f15288;
}

.screen-work__But a {
  width: 100%;
  height: 100%;
}



/* 이미지 */
.screen-work__image {
  width: 100%;
  height: clamp(345px, 33vw, 517px);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#screen-work .screen-work__Col:nth-child(1) .screen-work__image {
  background-image: url(../images/fringe1920.jpg);
}
#screen-work .screen-work__Col:nth-child(2) .screen-work__image {
  background-image: url(../images/gilBokSoon.jpg);
}
#screen-work .screen-work__Col:nth-child(3) .screen-work__image {
  background-image: url(../images/holo01.jpg);
}



/* 이미지 호버 */
.screen-work__imgboxs:hover .modal_hover{
  display: block;
}

.screen-work__But_hoverCr:hover {
  color: var(--color-sub);
}




/* 명칭 */
.screen-work__image, .screen-work__txt {
  border-radius: 51.7px;
}

#screen-work .screen-work__image  {
  border-radius: 51.7px 51.7px 0 0;
}

#screen-work .screen-work__txt {
  border-radius: 0  0 51.7px 51.7px;
}

.screen-work__txt {
  background: var(--color-main);
  padding: 20px 0;
  font-weight: 400;
  font-size: var(--font-item);
  color: #fff;
}

.screen-work__txt span:nth-child(1) {
  font-weight: 700;
}


/* 모달 */
.screen-work-modal-global-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.screen-work-modal {
  display: none;
  max-width: 100%;
  width: 90%;
  padding: 2rem;
  border-radius: 8px;
  position: relative;
  overflow-y: auto;
  max-height: 95vh;

  /* 아래 두 줄 추가 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* Chrome, Safari */
.screen-work-modal::-webkit-scrollbar {
  display: none;
}

.screen-work-modal-content-inner {
  position: relative;
}

.screen-work-modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 60px;
  cursor: pointer;
  color: #ffffff;
}

.screen-work-modal-content-inner {
  text-align: center;
  justify-content: center;
}

.modalText {
  line-height: 1.5em;
  color: #fff;
}

.modalText > span {
  font-weight: 700;
  line-height: 3em;
}

.screen-work-modal-img {
  max-width: 100%;
  height: auto;
}






/* 모바일 */
@media (max-width: 768px) {
  section {
    padding: 65px 15px;
  }
  .section__title em::before {
    content: "\A";
    white-space: pre;
  }
  .Section_item {
    flex-direction: column;
    justify-content: center;
  }
  .screen-work__Col {
    width: 100%;
  }

}






/* ----------------------------------------------
 * Generated by Animista on 2025-7-27 2:28:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-ver-bottom
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}
@keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}
