/* html 188 */
#live-design {
  background-color: var(--color-light-bu);
}

.slider-wrapper {
  width: 100vw;
  padding-left: clamp(15px, 4.4vw, 100px);
  overflow: hidden;
}

.live-design__item {
  width: 100vw;
}
.slider-track {
  flex-direction: initial;
  white-space: nowrap;
  will-change: transform;
  user-select: none;
  cursor: grab
}

.live-design__img {
  width: clamp(330px, 38vw, 645px);
  height: clamp(185px, 21vw, 355px);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  aspect-ratio: 1 / 1;
}


.live-design__img_1 {
  background-image: url(../images/gap_1.jpg);
}
.live-design__img_2 {
  background-image: url(../images/gap_2.jpg);
}
.live-design__img_3 {
  background-image: url(../images/gap_3.jpg);
}
.live-design__img_4 {
  background-image: url(../images/gap_4.jpg);
}





/* 모바일 */
@media (max-width: 768px) {
.live-design__item  {
  
}
}