#design-notes {
  background-color: var(--color-light-bg);
  background-image: url(../images/design-notes_bg.png);
  background-repeat: no-repeat;
  background-position: right top; /* (선택 사항) 이미지를 중앙에 배치 */
  background-size: 40%;
  background-attachment: fixed;
  position: relative;
}

.design-notes__list {
  width: clamp(345px, 31vw, 450px);
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);/* 2열 그리드 */
  grid-auto-rows: auto;
  padding-right: 648px;
  gap: clamp(15px, 3.3vw, 70px);
}

.design-notes__item{
  width: clamp(345px, 31vw, 450px);
  height: clamp(450px, 41vw, 600px);
  margin-bottom: clamp(60px, 6vw, 100px);
  padding-bottom: 60px;
  position: relative;
}

.design-notes__item-right {
  margin-top: clamp(0px, 31vw, 400px);
}

.design-notes__txt, .live-design__txt {
  text-align: left;
  background-color: transparent;
  color: var(--color-dark-txt);
}

.design-notes__Fclick  {
  display: inline-flex;
  background: var(--color-light-bu);
  border-radius: 50px;
  position: absolute;
  margin-left: 20px;
  padding: 10px;
  bottom: -1%;
  right: 0;
}

.design-notes__Fclick:hover {
  background: var(--color-sub);
}

.design-notes__img {
  width: 100%;
  height: 100%;
  background-color: var(--color-light-bu);
  /* background-image: url(../images/fruit-1234657_640.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-image 0.4s ease;
}

/* 정사각형 이미지*/
.design-notes__item-left .design-notes__item:nth-child(2),
.design-notes__item-right .design-notes__item:nth-child(6)  {
  height: clamp(345px, 31vw, 450px);
}

/* .design-notes__item-left .design-notes__item:nth-child(1) .design-notes__img {
  background-image: url(../images/turkey-5201498_640.jpg);
}
.design-notes__item-left .design-notes__item:nth-child(1):hover .design-notes__img {
  background-image: url(../images/me__APNG.png);
}
.design-notes__item-left .design-notes__item:nth-child(2) .design-notes__img {
  background-image: url(../images/turkey-5201498_640.jpg);
} */

.design-notes__item-right .design-notes__item:nth-child(1),
.design-notes__item-right .design-notes__item:nth-child(2),
.design-notes__item-right .design-notes__item:nth-child(3),
.design-notes__item-left .design-notes__item:nth-child(1),
.design-notes__item-left .design-notes__item:nth-child(2),
.design-notes__item-left .design-notes__item:nth-child(3) {
  /* background-image: url(../images/l-4-0.jpg); */
  display: none;
}

.design-notes__item-left .design-notes__item:nth-child(4) .design-notes__img {
  background-image: url(../images/l-4-0.jpg);
}
.design-notes__item-left .design-notes__item:nth-child(4):hover .design-notes__img {
  background-image: url(../images//design-notes__item_l-4.png);
}
.design-notes__item-left .design-notes__item:nth-child(5) .design-notes__img {
  background-image: url(../images/l-5-0.jpg);
}
.design-notes__item-left .design-notes__item:nth-child(5):hover .design-notes__img {
  background-image: url(../images/design-notes__item_l-5.png);
}
.design-notes__item-left .design-notes__item:nth-child(6) .design-notes__img {
  background-image: url(../images/l-6-0.jpg);
}
.design-notes__item-left .design-notes__item:nth-child(6):hover .design-notes__img {
  background-image: url(../images/design-notes__item_l-6png.png);
}
.design-notes__item-right .design-notes__item:nth-child(4) .design-notes__img {
  background-image: url(../images/r-4-0.jpg);
}
.design-notes__item-right .design-notes__item:nth-child(4):hover .design-notes__img {
  background-image: url(../images/design-notes__item_r-4.png);
}
.design-notes__item-right .design-notes__item:nth-child(5) .design-notes__img {
  background-image: url(../images/r-5-0.jpg);
  background-position: top;
}
.design-notes__item-right .design-notes__item:nth-child(5):hover .design-notes__img {
  background-image: url(../images/design-notes__item_r-5png.png);
}
.design-notes__item-right .design-notes__item:nth-child(6) .design-notes__img {
  background-image: url(../images/r-6-0.png);
}
.design-notes__item-right .design-notes__item:nth-child(6):hover .design-notes__img {
  background-image: url(../images/design-notes__item_r-6png.png);
}



.screen-work-modal-content-inner > p {
  color: #fff;
}
.screen-work-modal-content-inner > p a {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  width: 150px;
  border-radius: 50px;
  background-color: #F15288
}
.screen-work-modal-content-inner > .image-gallery {
  margin: 0;
  padding: 0;
  line-height: 0; 
}





@media (max-width: 768px) {
  .design-notes__list {
    display: block;
    padding:0px;
  }

  .design-notes__item-right {
    margin-top: 0px;
}

  .design-notes__list, .design-notes__item {
    width: 100%;
}

}