/* 758 */
#footer {
  overflow: hidden;
  height: clamp(310px, 32vw, 530px);
  padding: 0 clamp(12px, 2.5vw, 55px);
  position: relative;
}

.footer__logo {
  width: clamp(54px, 4.9vw, 72px);
  height: clamp(54px, 4.9vw, 72px);
  margin-bottom: clamp(20px, 2vw, 30px);
}

.footer__logo > a img {
  width: 100%;
  height: 100%;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
}

.footer__item > ul li {
  text-align: start;
  font-size: var(--font-career-date);
  font-weight: 300;
  padding-top: 5px;
}
.footer__item > ul li:hover {
  color: var(--color-sub);
}

.footer__item:nth-child(2) {
  display: flex;
  align-items: end;
  gap: 20px;
  position: relative;
}
.footer__p:nth-child(1) {
  font-size: clamp(18px, 1.5vw, 22px);
  font-weight: 500;
}
.footer__p:nth-child(2) {
  font-size: clamp(44px, 5.6vw, 100px);
  font-weight: 100;
  line-height: clamp(44px, 4.4vw, 70px);
  letter-spacing: -5%;
  text-transform: lowercase;
}
.mobile-only-break {
  display: none;
}
.footer__p:nth-child(2)::first-letter {
  text-transform: uppercase;
}
.footer__arrow {
  position: absolute;
  top: 0;
  right: -50px;
}

.footer__item:nth-child(3) > ul li{
  text-align: end;
  font-size: clamp(10px, 1vw, 18px);
}

.footer__Ptxt {
  font-size: clamp(65px, 16vw, 345px);
  font-weight: 900;
  letter-spacing: clamp(-2px, -0.3vw, -10px);
  line-height: clamp(43px, 11vw, 240px);
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}





@media (max-width: 768px) {
  .footer__list{
    flex-direction: column;
    position: relative;
  }
  .footer__item:nth-child(1),
  .footer__item:nth-child(3) {
    width: 100%;
  }
  .footer__item:nth-child(1) > ul li:nth-child(1){
    padding-top: 0;
  }
  .footer__item:nth-child(2)  {
    display: block;
    position: absolute;
    bottom: -4.5px;
  }

  .mobile-only-break  {
    display: block;
  }

  .footer__item:nth-child(3) {
    margin-top: 15px;
  }
  .footer__item:nth-child(3) > ul li {
    text-align: left;
    padding: 1px 0;
  }
  .footer__arrow {
    top: 0px;
    right: 20px;
    transform: rotate(180deg);
  }
  #footer {
    height: 345px;
  }
}

@media  (max-width: 510px) {
  #footer {
    height: 310px;
  }
}
