@import url('./1-intro_header.css');
@import url('./2-screen-work.css');
@import url('./3-live-design.css');
@import url('./4-design-notes.css');
@import url('./5-about-me.css');
@import url('./6-my-career.css');
@import url('./7-footer.css');


@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}



/* 변수 구간 */
:root {
  --color-main: #4E9AF1;
  --color-sub: #FFDC60;
  --color-dark-txt: #111111;
  --color-light-bu: #E7F3FD;
  --color-light-bg: #FDFBF6;
  --color-light-gy: #BBBBBB;

  /* 폰트 구간*/
  --font-title-large: clamp(60px, 6.25vw, 100px);
  --font-item: clamp(22px, 1.9vw, 28px);
  --font-career-date: clamp(16px, 1.4vw, 22px);
  --font-career-comp: clamp(18px, 1.9vw, 30px);
  --font-career-job: clamp(15px, 1.3vw, 20px);
  --font-career-work: clamp(16px, 1.5vw, 24px);
}



/* 리셋 구간 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  scroll-behavior: smooth;
  scroll-snap-align: start;
}


body {
  font-family: 'Pretendard', sans-serif;
  /* 개발용 설정 */
  min-height: 300vh;

  /* 폰트를 부드럽게 렌더링하는 설정 */
  -webkit-font-smoothing: antialiased; /* 크롬, 사파리 */
  -moz-osx-font-smoothing: grayscale;  /* 파이어폭스 (macOS) */
}


h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

strong, em {
  font-weight: inherit;
  font-style: normal;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

dl { margin: 0; }
dd {
  margin: 0;
  display: inline;
}

figure { margin: 0; }

a {
  text-decoration: none;
  color: inherit;
}

th { font-weight: normal; }

address { font-style: inherit; }

.F_JC_AIC {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}