@charset 'utf-8';

/* footer:s */
footer {
  background: var(--footerColor_01);
  color: var(--beigeColor_01);
  padding: 100px 0;
}

footer .inner {
  display: flex;
  justify-content: space-between;
}

footer .hoho_col_L dl {
  display: flex;
  gap: 10px;
}

/* Talk */
footer .hoho_col_L dl:nth-child(1) {
  align-items: center;
}

footer .hoho_col_L dl dt {
  font-weight: 400;
  font-size: 2rem;
  padding-right: 30px;
}

footer .hoho_col_L dl:nth-child(1) dd {
  font-weight: 700;
  font-size: 5rem;
}

/* Time */
footer .hoho_col_L dl:nth-child(2) dd {
  font-weight: 400;
  font-size: 2.2rem;
}

footer .hoho_col_L dl:nth-child(2) dd ul li {
  display: flex;
  gap: 30px;
}

footer .hoho_col_L dl:nth-child(2) dd ul li span {
  display: inline-block;
  width: 58px;
  text-align: justify;
  vertical-align: middle;
}

footer .hoho_col_L dl:nth-child(2) dd ul.WeekTxt {
  margin-top: 10px;
}

footer .hoho_col_L dl:nth-child(2) dd ul.WeekTxt li {
  font-weight: 300;
  font-size: 1.6rem;
}

footer .hoho_col_L dl:nth-child(1)::before,
footer .hoho_col_L dl:nth-child(2)::before {
  content: '';
  clear: both;
  display: flex;
  gap: 10px;
  width: 32px;
  height: 32px;
}

footer .hoho_col_L dl:nth-child(1)::before {
  background: url(../img/footer_call.svg) no-repeat 0 0/cover;
}

footer .hoho_col_L dl:nth-child(2)::before {
  background: url(../img/footer_time-line.svg) no-repeat 0 0/cover;
}

footer .hoho_col_L dl:nth-child(2),
footer .hoho_col_L dl:nth-child(3) {
  margin-top: 20px;
}

footer .hoho_col_L dl:nth-child(3) dd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  background: var(--footerColor_02);
}

footer .hoho_col_L dl:nth-child(3) dd a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background: url(../img/SNS_insta.svg)no-repeat 50%/contain;
  width: 60px;
  height: 20px;
}

address {
  font-weight: 300;
  font-size: 1.4rem;
  margin-top: 50px;
}

address .By_park_col {
  margin-top: 20px;
  opacity: 0.5;
}

/* consulting */
.hoho_col_R {
  width: 496px;
}

.hoho_col_R .hoho_ctn01 h5 {
  font-weight: 400;
  font-size: 3.2rem;
}

.hoho_col_R .hoho_ctn01 p {
  width: 422px;
  margin-top: 30px;
  font-weight: 200;
  font-size: 1.4rem;
  opacity: 0.5;
}

.hoho_col_R form {
  margin-top: 47px;
}

.hoho_col_R form .form_col_01 {
  display: flex;
  gap: 10px;
}

.hoho_col_R form .form_col_02,
.hoho_col_R form .form_col_03 {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.hoho_col_R ul {
  display: flex;
  gap: 24px;
  margin-top: 100px;
  font-weight: 200;
  font-size: 1.4rem;
}

/* form input */
.hoho_col_R form .form_col_01 input,
.hoho_col_R form .form_col_02 textarea {
  width: 100%;
}

.hoho_col_R form .form_col_01 input,
.hoho_col_R form .form_col_02 textarea {
  background: transparent;
  border-bottom: 1px solid var(--beigeColor_01);
  color: var(--beigeColor_01);
}

.hoho_col_R form .form_col_01 input::placeholder,
.hoho_col_R form .form_col_02 textarea::placeholder {
  color: var(--beigeColor_01);
  opacity: 0.3;
}

.hoho_col_R form .form_col_02 textarea {
  height: 50px;
}

input:focus,
textarea:focus {
  outline: none;
}

.hoho_col_R form .form_col_03 {
  display: flex;
  align-items: center;
}

.hoho_col_R form .form_col_03 input[id="vehicle1"] {
  display: none;
}

.hoho_col_R form .form_col_03 input[id="vehicle1"]+label {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 1px solid var(--beigeColor_01);
}

.hoho_col_R form .form_col_03 input[id="vehicle1"]:checked+label {
  background: var(--subColor_02) url(../img/jam_check.svg)no-repeat 50%/contain;
}

.hoho_col_R form .form_col_03 label {
  margin-right: 14px;
}

.hoho_col_R form .form_col_03 p {
  margin-right: 106px;
}

.hoho_col_R form .form_col_03 button {
  width: 150px;
  padding: 4px 10px;
  border: 1px solid var(--beigeColor_01);
  color: var(--beigeColor_01);
}

.hoho_col_R form .form_col_03 button:hover {
  background: var(--beigeColor_01);
  color: var(--footerColor_01);
}


/* 스크롤바 */
/* 임의의 영역 생성 */
.scrollBar {
  width: 200px;
  height: 200px;
  overflow-y: scroll;
}

/* 아래의 모든 코드는 영역::코드로 사용 */
.scrollBar::-webkit-scrollbar {
  width: 10px;
  /* 스크롤바의 너비 */
}

.scrollBar::-webkit-scrollbar-thumb {
  height: 30%;
  /* 스크롤바의 길이 */
  background: var(--mainColor);
  /* 스크롤바의 색상 */
  border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-track {
  background: rgba(36, 182, 250, 0.1);
  /*스크롤바 뒷 배경 색상*/
}

/* footer:e */