@charset 'utf-8';

/* header:s */
header {
  width: 100%;
  position: absolute;
  /* background: #fff; */
  /* display: none; */
  z-index: 10;

}

header .inner {
  width: 100%;
  /* border: 1px solid #000; */
  position: relative;
}

/* nav */
nav {
  width: 1520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

nav .logo {
  /* height: 40px; */
  z-index: 1;
}

.GNB_wrap .GNB_list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

/* GNB_list */
.GNB_wrap .GNB_list>li>a {
  display: flex;
  padding: 40px;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--beigeColor_01);
  /* border: 1px solid #000; */
}


/* LNB_list */
.GNB_wrap .GNB_list>li .LNB_list {
  display: flex;
  position: absolute;
  top: 96px;
}

.GNB_wrap .GNB_list>li .LNB_list li a {
  display: flex;
  padding: 20px 10px;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-color);
  /* background: #fff; */
  /* border: 1px solid #000; */
  display: none;
}



.GNB_wrap .GNB_list>li:nth-of-type(1) .LNB_list li:nth-of-type(1) {
  padding-left: 40px;
  /* border: 1px solid #000; */
}

.GNB_wrap .GNB_list>li:nth-of-type(2) .LNB_list {
  left: 13%;
}

.GNB_wrap .GNB_list>li:nth-of-type(2) .LNB_list li:nth-of-type(1) {
  padding-left: 40px;
  /* border: 1px solid #000; */
}

.GNB_wrap .GNB_list>li:nth-of-type(3) .LNB_list {
  left: 12%;
}

.GNB_wrap .GNB_list>li:nth-of-type(4) .LNB_list {
  right: 10%;
}

.GNB_wrap .GNB_list>li:nth-of-type(5) .LNB_list {
  right: 16%;
}

.GNB_wrap .GNB_list>li:nth-of-type(6) .LNB_list {
  right: 3%;
}

/* bgbar */
header .inner nav .GNB_wrap .bgbar {
  opacity: 0;
  /* transition: .8s; */
}

/* 상단바 */
header .inner nav .GNB_wrap .bgbar::before {
  content: '';
  clear: both;
  width: 100vw;
  height: 100%;
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  background: #ffffff;
  display: none;
  /* transition: .8s; */
}

/* 하단바 */
header .inner nav .GNB_wrap .bgbar::after {
  content: '';
  clear: both;
  width: 100vw;
  height: 60%;
  position: absolute;
  left: auto;
  right: 0;
  top: 96px;
  background: #ffffff;
  border-top: 1px solid var(--lineColor);
  display: none;
  /* transition: .8s; */
}

/* menuOpen */
nav .menuOpen {
  width: 40px;
  height: 40px;
  background: url(../img/menu-on.svg) no-repeat 0 0/cover;
  filter: invert(100%);
  z-index: 1;
}

/* hover */
.GNB_wrap:hover .GNB_list>li a {
  font-weight: 500;
  color: var(--text-color);
}

.GNB_wrap .GNB_list li:hover a {
  font-weight: 600;
  color: var(--mainColor);
}

.GNB_wrap .GNB_list>li .LNB_list li a:hover {
  font-weight: 700;
  color: var(--mainColor);
  transition: .4s;
}

header .inner nav .GNB_wrap .GNB_list>li:hover .LNB_list li a {
  display: block;
}

header .inner nav .GNB_wrap:hover .bgbar::after,
header .inner nav .GNB_wrap:hover .bgbar::before,
header .inner nav .GNB_wrap:hover .bgbar {
  display: block;
  transition: .6s;
  opacity: 1;
}

nav:hover .menuOpen {
  filter: invert(0%);
  transition: .6s;
}

/* header:e */